/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;
}

img {
    max-width: 100%;
}

.html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    font-family: 'Mulish', sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}

.btn-primary{
    background-color: #FF5400;
    width: 150px;
    height: 46px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px; 
    letter-spacing: 1px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1.5px solid #FF5400;
    cursor: pointer;
    transition:all 0.75s ;
}
& .btn-primary:hover{
    background-color: #b93e00b0;
    color: #fff;
    border:1.5px solid #FF5400;
}
/* global styles end */

/* navbar start */
.navbar{
    position:sticky;
    background-color: #fffffff8;
    box-shadow: 0px 0px 10px 0px #eee;
    top: 0;
    width: 80%;
    margin: 0 auto;
    z-index: 9999;
}
nav{
    display: flex;
    position: relative;
    padding: 2% 0% 1%;
    justify-content: space-around;
    letter-spacing: 1px;
    align-items: center;
    z-index: 9999;
}
nav img{
    width: 75%;
}
nav .fa{
    display: none;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-top: -35px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 40px 12px 8px;
    position: relative;
}
.nav-links ul li a{
    color: #424247;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li a:hover{
    color: #FF5400;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FF5400;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/* navbar end */

/* header start */
header {
    margin: 20px auto;
    width: 80%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
    url(../images/header.png);
    background-position: top center;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    padding: 100px 0px;

    & h5 {
        color: #fff;
        font-size: 26px;
        font-weight: 400;
        margin: 10px 0px 20px;
    }

    & h1 {
        color: #fff;
        font-size: 50px;
        font-weight: 800;
        line-height: 65px;
        letter-spacing: 1.5px;
        margin: 0px 0px 20px;
    }
    & .h-box{
        display: flex;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        justify-content: center;
        align-items: center;
        margin: 0px 0px 20px;
        padding: 16px;
        margin: 50px 75px 10px;
        gap: 10px;
    }
    & .h-box img{
        width: 25px;
        margin: 5px 5px -8px;
    }
    & .h-box p{
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1px;
        margin: 0px 0px 20px;
    }
    & select, input[type="text"]{
        width: 150px;
        height: 46px;
        border-radius: 8px;
        border: none;
        padding: 0px 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1px;
        background: #fff;
        color: #13131880;
    }   
    & select:focus, input[type="text"]:focus{
        outline: none;
    }
    & a{
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        margin: 0px 0px 10px;
    }
}
/* header end */

/* banner1 start */
.banner1-content{
    display: flex;
    margin: 70px auto 40px;
    width: 80%;
    padding: 40px 0px;
    align-items: center;
    flex-wrap: wrap;

        & .banner1-col{
            flex-basis: 49%;
            padding: 30px 5px 30px 0px;
        }
        & .banner1-col img{
            width: 100%;
            padding: 10px 0px 0px 10px;
        }
        & .banner1-col h2{
            font-size: 38px;
            font-weight: 800 !important;
            line-height: 48px;
            letter-spacing: 1.5px;
            padding-top: 10px;
            font-weight: 600;
            margin: 10px 0px 40px;
        }
        & .banner1-col p, ul li {
            color: #424247;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.7em;
            padding: 0px 15px 11px 0px;
        }
        & .banner1-col ul li{
            margin-left: 20px;
        }

        & .hero-btn{
            display: inline-block;
            text-decoration: none;
            color: #f44336;
            font-weight: 500;
            padding: 12px 34px;
            border: 1px solid #f44336;
            border-radius: 5px;
            transition:all 0.3s ease-in-out;
            font-size: 13px;
            background: transparent;
            cursor: pointer;
            margin-top: 30px;
            text-shadow: .1px .1px #000 !important;
        }
        & .hero-btn:hover{
            background: #f44336;
            color: #fff;
            border: 1px solid #f44336;
            transform: translateY(-7px);
            box-shadow: 0px 0px 10px #000;
            text-shadow: .5px .5px #000;
        }

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #FF5400;
    border: 1.5px solid #FF5400;
    padding: 12px 34px;
    margin: 20px 0px;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
}
.hero-btn:hover{
    background: #FF5400;
    color: #fff;
    border: 1.5px solid #FF5400;
}
/* banner1 end */

/* banner2 start */
.banner2-content{
    margin: 50px auto 40px;
    width: 80%;
    padding: 40px 0px;
  

    & .banner2-text{
        text-align: center;
        margin: 0px 0px 40px;
    }
    & .banner2-text h2{
        font-size: 40px;
        font-weight: 800 !important;
        line-height: 50px;
        letter-spacing: 1.5px;
        padding-top: 10px;
        font-weight: 600;
        margin: 10px 0px 20px;
    }
    & .banner2-text p{
        color: #424247;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7em;
        padding: 0px 15px 40px 0px;
    }
    & .banner2-box {
        width: 100%;

        & .box-1{
            display: flex;
            flex-basis: auto;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0px 0px 20px;
            justify-content: center;

            & .banner2-box1{
                flex-basis: 48%;
                padding: 5px;
            }
            & img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
            
        }
        & .box-2{
            display: flex;
            flex-basis: auto;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0px 0px 20px;
            justify-content: center;

            & .banner2-box2{
                flex-basis: 32%;
                padding: 5px;
            }
            & img {
                width: 100%;
                height: 90%;
                display: block;
            }
        }
        & .box-3{
            display: flex;
            flex-basis: auto;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0px 0px 20px;
            justify-content: center;

            & .banner2-box3{
                flex-basis: 48%;
                padding: 5px;
            }
            & img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: contain;
            }
            & .p2{
                object-fit: contain;
                height: 80%;
            }
            
        }
    }
    & .banner2-box img{
        transition: 0.5s ease-in-out;
    }
    & .banner2-box img:hover {
        transform: scale(1.1);
    }
    
    & .banner2-box .img-container {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
    }
    & .banner2-box .img-container h3 {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 1px;
        z-index: 10;
    }
}
/* banner2 end */

/* banner3 start */
.banner3-content{
    margin: 50px auto 40px;
    width: 80%;
    padding: 40px 0px;
    text-align: center;

    & .banner3-text{
        text-align: center;
        margin: 0px 0px 40px;
    }
    & .banner3-text h2{
        font-size: 40px;
        font-weight: 800 !important;
        line-height: 50px;
        letter-spacing: 1.5px;
        padding-top: 10px;
        font-weight: 600;
        margin: 10px 0px 20px;
    }
    & .banner3-text p{
        color: #424247;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7em;
        padding: 0px 15px 40px 0px;
    }

    & .banner3-box{
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 0px;
        justify-content: center;

        & .banner3-box1{
            flex-basis: 48%;
            padding: 5px;
        }
        & img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    & .banner-3{
        flex-basis: 48%;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        padding: 20px;
        margin: 5px 5px 30px 5px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    & .banner-3 img{
        width: 40px;
        height: 40px;
    }
    & .banner-3 h3{
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;
    }
    & .banner-3 p{
        text-align: left;
        padding: 0px;
    }
    & .banner-3:hover{
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
    .b1{
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }
    .b2{
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }
    .b3{
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
    }
}
/* banner3 end */

/* banner4 start */
.banner1-content .banner1-col.b4{
    flex-basis: 46%;
    padding: 30px 5px 30px 0px;
}
/* banner4 end */

/* banner5 start */
.banner5-content{
    display: flex;
    margin: 40px auto 40px;
    width: 80%;
    padding: 20px 0px;
    align-items: center;
    flex-wrap: wrap;

        & .banner5-col1{
            flex-basis: 44%;
            padding:25px;
            border: 1.5px solid #FF5400;
            border-radius: 8px;
        }
        & .banner5-col2{
            flex-basis: 54%;
        }
        & .banner5-col2 img{
            width: 100%;
            padding: 10px 0px 0px 10px;
        }
        & .banner5-col1 h2{
            font-size: 24px;
            font-weight: 800 !important;
            line-height: 30px;
            letter-spacing: 1.5px;
            padding-top: 10px;
            font-weight: 600;
            margin: 0px 0px 10px;
        }
        & .banner5-col1 p{
            color: #424247;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 20px;
        }
        hr{
            border: 1px solid rgba(19, 19, 24, 0.30);;
            margin: 20px 0px 20px;
        }

        .banner5-col1{


            & .h-box{
                display: flex;
                flex-direction: column;
                border-radius: 8px;
                margin: 0px 0px 0px;
                gap: 10px;
            }
            & .h-box img{
                width: 25px;
                margin: 5px 5px -8px;
            }
            & .h-box p{
                color: #fff;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 1px;
                margin: 0px 0px 20px;
            }
            & select, input[type="text"]{
                width: 100%;
                height: 46px;
                border-radius: 8px;
                border: 1px solid rgba(19, 19, 24, 0.30);;
                padding: 0px 20px;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 1px;
                background: rgba(19, 19, 24, 0.05);
                color: rgba(19, 19, 24, 0.30);
            }   
            & select:focus, input[type="text"]:focus{
                outline: none;
                color: rgba(19, 19, 24, 0.30);
            }
            & a{
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                margin: 0px 0px 10px;
            }
            & .hero-btn {
                text-align: center;
                display: inline-block;
                text-decoration: none;
                color: #fff;
                border: 1.5px solid #FF5400;
                padding: 12px 34px;
                margin: 10px 0px 15px;
                border-radius: 5px;
                transition: 0.5s;
                font-size: 13px;
                background: #FF5400;
                cursor: pointer;
            }

            & .hero-btn:hover{
                background: #fff;
                color: #FF5400;
                border: 1.5px solid #FF5400;
            }
        }
}
/* banner5 end */

/* extra section start */
.cta{
    margin: 80px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)),url(../images/Group\ 39.png);
    background-position:top center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0px 80px;

    & h2{
        color: #fff;
        margin-bottom: 33px;
        padding: 10px 20px;
        line-height: 1.7em;
        letter-spacing: 1px;
    }
    & .hero-btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        border-radius: 5px;
        transition:all 0.3s ease-in-out;
        font-size: 13px;
        background: transparent;
        cursor: pointer;
        text-shadow: .5px .5px #000 !important;
        position: relative;
    }
    & .hero-btn:hover{
        background: #f44336;
        color: #fff;
        border: 1px solid #f44336;
        transform:translateX(-3px) translateY(-7px);
        box-shadow: 2px 2px #fff3f3;
        text-shadow: .5px .5px #000;
    }
}
/* extra section end */

/* footer start */
.footer{
    width: 80%;
    margin: auto;
    background: #fff3f3;
    text-align: center;
    padding: 40px 20px 0px ;


    & img{
        width: 25%;
        margin: 10px 0px 10px;
    }
    & h2{
        font-size: 36px;
        font-weight: 600;
    }
    & p{
        color: #777;
        font-size: 14px;
        letter-spacing: .7px;
        line-height: 1.7em;
        font-weight: 300;
        padding: 10px;
    }
    & p span{
        color: #424247;
        font-weight: 500;
        transition:all .3s;
        text-shadow: .1px .1px #000;
    }
    & p span:hover{
        color: #f44336;
        font-weight: 500;
        text-shadow: .1px .1px #000;
    }
    & p span .fa{
        color: #f44336;
    }
    & .icons .fa{
        font-size: 16px;
        color: #f44336;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        margin: 18px 13px 20px;
        border: 1px solid #f44336;
        transition: 0.3s;
    }
    & .icons .fa:hover{
        background: #f44336;
        color: #fff;
    }
    .fa-arrow-up{
        margin-top: -9px !important;
    }
    & hr{
        width: 90%;
        border: 1px solid rgba(19, 19, 24, 0.10);
        margin: 20px auto 20px;
    }
}
/* footer end */


/* media quary start */
@media (max-width: 600px) {
    .container{
        margin-top: 40px;
    }
    .nav-links ul li{
        overflow: hidden;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        margin-top: 0px;
        transition: 1s;
    }
    .nav-links ul li::after{
        background: #fff;
    }
    nav .fa{
        display: block;
        color: #000000c7;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul li a{
        color: #000000c7;
        font-weight: 700;
    }
    .nav-links ul li a:hover{
        color: #fff;
    }
    .nav-links ul{
        padding: 25px;
    }
    .nav-links ul li::after{
        color: #fff !important;
    }
    & .banner1-col {
        padding: 20px 5px;
    }

    header {
        width: 80%;
        padding: 70px 20px 50px;
        
        & h5 {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 40px;
        }
        & h1 {
            font-size: 30px;
            line-height: 36px;
        }
        & .h-box{
            flex-direction: column;
            margin: 10px 40px 20px !important;
            padding: 30px;
            margin: 20px 0px 10px;
        }
        & .h-box img{
            width: 20px;
            height: 20px;
            margin: 5px 5px -5px;
        }
        & .h-box p{
            font-size: 14px;
        }
        & select, input[type="text"]{
            height: 50px;
            border-radius: 8px;
            border: none;
            padding: 0px 20px;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 1px;
            background: #fff;
            color: #13131880;
        }   
    }
    .banner1-content{
        flex-direction: column;
        margin: 15px auto;

        & .banner1-col h2 {
            font-size: 30px;
            font-weight: 800 !important;
            line-height: 40px;
            letter-spacing: 0.5px;
            padding-top: 5px;
            font-weight: 600;
            margin: 10px 0px 10px;
        }
        & .hero-btn{
            margin-top: 20px;
        }
    }
    .banner2-content .banner2-text h2 {
        margin-top: -50px;
        font-size: 28px;
        line-height: 38px;
    }
    .banner2-content .banner2-text  {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 24px;
    }
    .banner2-content .banner2-box .box-1, .banner2-content .banner2-box .box-2, .banner2-content .banner2-box .box-3{
        flex-direction: column;
        margin: 0px auto 0px;
    }
    .banner2-content .banner2-box .box-2 .banner2-box2 {
        flex-basis: 100%;
        margin: 10px 0px 65px;
    }
    .banner2-content .banner2-box .box-3 .banner2-box3:first-child {
    margin: 85px 0px 1px;
}
.banner3-content {
    margin-top: 0px;
    
    & .banner3-text h2 {
        font-size: 30px;
        font-weight: 800 !important;
        line-height: 40px;
        letter-spacing: 1.5px;
        padding-top: 10px;
        font-weight: 600;
        margin: 0px 0px 20px;
    }
    & .banner3-text p {
        font-size: 14px;
        line-height: 24px;
    }
    & .banner3-box {
        flex-direction: column;
    }
}
.banner1-col.b4 iframe{
    width: 100%;
    border: none;
    border-radius: 8px;
}

    .banner5-content{
        flex-direction: column;
        margin: 15px auto;

        & .banner5-col1{
            flex-basis: 100%;
            padding:25px;
            border: 1.5px solid #FF5400;
            border-radius: 8px;
            margin-bottom: 30px;
        }
    }
    .footer p{
        font-size: 12px;
    }
    .footer img{
        width: 40%;
    }
}


@media screen and (min-width:600.01px) and (max-width: 991px) {
    .nav-links ul li{
        overflow: hidden;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        margin-top: 0px;
        transition: 1s;
    }
    .nav-links ul li::after{
        background: #fff;
    }
    nav .fa{
        display: block;
        color: #000000c7;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul li a{
        color: #000000c7;
        font-weight: 700;
    }
    .nav-links ul li a:hover{
        color: #fff;
    }
    .nav-links ul{
        padding: 25px;
    }
    .nav-links ul li::after{
        color: #fff !important;
    }
    & .banner1-col {
        padding: 20px 5px;
    }


    header {
        width: 80%;
        padding: 70px 20px 50px;
        
        & h5 {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 40px;
        }
        & h1 {
            font-size: 30px;
            line-height: 36px;
        }
        & .h-box{
            flex-direction: column;
            margin: 10px 40px 20px !important;
            padding: 30px;
            margin: 20px 0px 10px;
        }
        & .h-box img{
            width: 20px;
            height: 20px;
            margin: 5px 5px -5px;
        }
        & .h-box p{
            font-size: 14px;
        }
        & select, input[type="text"]{
            width: 310px;
            height: 50px;
            border-radius: 8px;
            border: none;
            padding: 0px 20px;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 1px;
            background: #fff;
            color: #13131880;
        }   
        & .btn-primary{
            width: 310px;
        }
    }
    .banner1-content{
        flex-direction: column;
        margin: 15px auto;
    }
    .banner3-content .banner3-box {
        flex-direction: column;
    }
    .banner5-content{
        flex-direction: column;
        margin: 15px auto;

        & .banner5-col1{
            flex-basis: 100%;
            padding:25px;
            border: 1.5px solid #FF5400;
            border-radius: 8px;
            margin-bottom: 30px;
        }
    }

}
/* media quary end */
